<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

	{% include header.html %}

	<main class="page-content" aria-label="Content">
		<div class="wrapper">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

	<!-- clipboard.js -->
	<script src="{{ site.baseurl }}/js/clipboard.min.js"></script>

	<!-- Include the latest version of WebTorrent -->
	<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>

	<script src="{{ site.baseurl }}/js/bundle.js"></script>

</body>

</html>
